.DS_Store
.fuse_hidden*
.gitignore
node_modules
public
prof
tsconfig.tsbuildinfo
.obsidian
.quartz-cache
private/
.replit
replit.nix
.quartz/
quartz/cli/tui/dist/
scripts/autopublish.log
scripts/autopublish.err
scripts/backup.log
scripts/backup.err
